@import '../../styles/variables';
@import '../../styles/mixins';

.BeSeeMore {
  padding: $inset_s $inset_m;
  height: calc(64px + $inset_s + $inset_s);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  column-gap: $inset_m;

  background-color: #e6e6e6;
  @include card-box;

  h4 {
    color: #999;
    font-size: 0.6em;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    column-gap: $inset_s;
  }

  .Thumbnails {
    display: flex;
    column-gap: $inset_xs;

    $thumbnail_size: 64px;

    .Thumbnail {
      width: $thumbnail_size;
      height: $thumbnail_size;

      img {
        border-radius: #{$thumbnail_size / 2};
      }
    }
  }

  .PieceList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: $inset_s;
  }
}