@import '../../styles/variables';
@import '../../styles/mixins';

.beBody {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #fff;
	margin-bottom: $inset_l;
	max-width: 100%;

	@media (min-width: $header_max_width) {
		& {
			width: $header_max_width;
			@include card-box(true);
		}
	}

}