@import "../../styles/variables";

.page {

	padding-top: #{$header_height};
	height: calc(100vh - #{$header_height});
	display: flex;
	flex-direction: column;
	
	.skipToMain {
		display: none;
	}

	.pageMain {
		flex-grow: 1;
		color: #000;
		background-color: #f3f3f3;

		article {
			display: flex;
			flex-direction: column;
			align-items: center;

			header {
				padding: $inset_xxl 0px;
				text-align: center;

				h1 {
					display: flex;
					flex-direction: column;
					font-size: 1.8rem;

					small {
						margin-top: 0.5em;
						font-size: 0.4em;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	
}