@import '../../styles/variables';

.beParagraph {
	width: 100%;

	p {
		padding: $inset_xxl #{2 * $inset_xxl};
		font-size: 0.7rem;

		.normal {
			font-size: 1em;
		}
		.small {
			font-size: 0.5em;
		}

		a:link {
			text-decoration: underline;
		}

		strong {
			font-weight: 400;
		}
	}

	& + .beParagraph {
		p {
			padding-top: 0px;
		}
	}
}