@import '../../styles/variables';

.pieceList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: $inset_m;

	.item {
		padding-bottom: $inset_l;
		width: 256px;
		height: auto;

		a {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
    	border-radius: $inset_s;
			box-shadow: 0px 2px 4px 0px #00000022;
			overflow: hidden;
			height: 100%;
			background-color: #fff;
	
			.textLabel {
				padding: $inset_m $inset_s;
				text-align: center;
				font-size: 0.8rem;
				text-transform: uppercase;
				
				display: flex;
				flex-direction: column;
				row-gap: 0.3em;

				small {
					font-size: 0.6em;
					text-transform: uppercase;
				}
	
			}
		}
	}
}