@import '../../styles/variables';

.about {
  margin-bottom: $inset_xxl;
  width: 100%;
  box-sizing: border-box;
  max-width: $header_max_width;
  padding: 0px;
  display: flex;
  flex-direction: column;

  @media (max-width: #{$header_max_width + 2 * $inset_l}) {
    & {
      padding: 0px $inset_l;
    }
  }

  .resume {
    display: flex;
    column-gap: $inset_l;
    align-items: flex-end;

    $height_for_align_credit: 12px;

    .text {
      flex-grow: 1;
      padding-bottom: $height_for_align_credit;

      strong {
        font-weight: 700;
        font-size: 1.5em;
        line-height: 1em;
      }

      em {
        text-transform: uppercase;
        font-style: normal;
        font-size: 0.9em;
        white-space: nowrap;
      }
    }

    .photo {
      flex-shrink: 0;
      min-width: 320px;
      height: auto;

      display: flex;
      flex-direction: column;

      .credits {
        height: $height_for_align_credit;
        padding: 4px 0px;
        font-size: 0.4em;
        text-transform: uppercase;
        text-align: end;

        a {
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 720px) {
      & {
        flex-direction: column;

        .photo {
          order: -1;
          margin-bottom: $inset_l;
          width: 100%;
        }
      }
    }
  }

  section {
    margin-top: $inset_xl;
    border-top: 1px solid #000;
    padding-top: $inset_xl;

    h2 {
      font-size: 1.4em;
      margin-bottom: $inset_xxl;
    }

    .experience {
      display: flex;
      flex-direction: column;
      row-gap: 32px;;
    }

    h3 {
      font-size: 0.7em;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: $inset_m;

      display: flex;
      flex-direction: column;
      row-gap: 4px;;

      .date,
      .rule {
        font-size: 0.7em;
      }

      .date {
        text-transform: none;
      }
    }

    p {
      margin-bottom: $inset_m;
    }

    .secIntro {
      margin-bottom: $inset_xl;
    }

    .secSkills {
      display: flex;
      flex-direction: column;
      row-gap: $inset_xl;
    }

    li {
      border-top: 1px dotted #999;
      padding: $inset_xs 0px;
      font-size: 0.7em;
      line-height: 1.4em;

      &:last-child {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .sectionLink {
    display: inline-block;
    margin-top: $inset_l;
    padding: $inset_m 0px;
    font-size: 0.8em;
    font-weight: 700;

    &::after {
      padding: 0px 8px;
      font-family: 'Material Icons Outlined';
      content: "\e5e1";
      color: $color_accent_back;
      position: relative;
      bottom: -0.15em;
    }
  }
}