@import '../../styles/variables';

.beCredits {
	margin: $inset_xxl;
	font-size: 0.55em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: $inset_m 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	table {
		opacity: 0.5;

		caption {
			display: none;
		}
	
		tr {
			th, td {
				padding: $inset_xs $inset_xs;
			}
	
			th.label {
				font-weight: 600;
				text-transform: uppercase;
				text-align: end;
				white-space: nowrap;
			}
	
			td.value {
				font-weight: 300;
				text-transform: uppercase;
				white-space: nowrap;
			}
		}
	}

	.notes {
		margin-top: $inset_m;
		display: flex;
		align-items: center;
		column-gap: $inset_m;

		.image {
			width: 60px;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.text {
			opacity: 0.5;
		}
	}
}