@import '../../styles/variables';

.beCredits {
	margin: $inset_xxl;
	font-size: 0.55em;
	border-top: 1px solid color-mix(in srgb, currentColor 20%, currentColor 30%);
	border-bottom: 1px solid color-mix(in srgb, currentColor 20%, currentColor 30%);
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	padding: $inset_m 0px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		opacity: 0.5;
		font-size: 1.6em;
		margin-bottom: $inset_l;
		text-align: center;
	}
	
	table {
		opacity: 0.5;

		caption {
			display: none;
		}
	
		tr {
			th, td {
				padding: $inset_xs $inset_xs;
				text-align: start;
			}
	
			th.label {
				font-weight: 600;
				text-transform: uppercase;
				text-align: end;
				white-space: nowrap;
			}
	
			td.value {
				font-weight: 300;
				text-transform: uppercase;
				white-space: nowrap;
			}
		}
	}

	.notes {
		margin-top: $inset_m;
		display: flex;
		align-items: center;
		column-gap: $inset_m;

		.image {
			width: 60px;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.text {
			opacity: 0.5;
		}
	}
}