@import '../../styles/variables';

.categoryListItem {
	padding-bottom: $inset_l;
	width: 200px;
	height: auto;

	$gap: 2px;

	a {
		display: flex;
		flex-direction: column;
		border-radius: $inset_s;
		box-shadow: 0px 2px 4px 0px #00000022;
		overflow: hidden;
		background-color: #fff;
		height: 100%;
		font-size: 0.8rem;

		.thumbnails {
			display: flex;
			flex-wrap: wrap;
			column-gap: $gap;
			row-gap: $gap;
		}

		.textLabel {
			padding: $inset_m $inset_s;
			flex-grow: 1;
			text-align: center;
			text-transform: uppercase;
			font-size: 0.8em;

			display: flex;
			flex-direction: column;
			justify-content: center;
			row-gap: 0.3em;

			small {
				font-size: 0.6em;
				text-transform: uppercase;
			}
		}
	}

	&.highlight-high {
		width: 270px;

		a {
			.textLabel {
				font-size: 1em;
			}

			.thumbnails {
				&>span:nth-child(3n+1) {
					flex-basis: 100%;
				}
	
				&>span:nth-child(3n+2),
				&>span:nth-child(3n) {
					flex-basis: calc(50% - #{$gap} / 2);
				}
			}
		}
	}

	&.highlight-low {
		width: 270px;

		a {
			.textLabel {
				font-size: 1em;
			}

			.thumbnails {
				&>span{
					flex-basis: calc(50% - #{$gap} / 2);
				}
			}
		}
	}
}