@import './variables';

.pixPanel {

  .qrCode {
    margin-top: $inset_m;
  }

  .copyCodeButton {
    margin-bottom: $inset_m;
    padding-left: 0;
    width: auto;
    color: $color_accent;
    background-color: transparent;

    display: flex;
    align-items: center;

    @keyframes showIcon {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    span {
      animation-duration: 700ms;
      animation-name: showIcon;
      padding-left: $inset_s;
      font-size: 1em;
    }
  }
}