html,
body {
	padding: 0;
	margin: 0;
	background-color: #ccc;
	font-family: 'Fira Sans', 'Arial', sans-serif;
	font-weight: 200;
	font-size: 24px;
}

p {
	line-height: 1.4;
}

a {
	color: inherit;
	text-decoration: none;
}

em {
	font-style: italic;
}

sup {
	font-size: 0.6em;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
	top: -0.5em;
}