@import 'variables';

.beHeading {
	h2 {
		padding: $inset_xxl $inset_m $inset_xl $inset_m;
		font-size: 1.8rem;
		text-align: center;
		text-transform: lowercase;

		@media (min-width: $header_max_width) {
			& {
				padding: $inset_xxl 0px $inset_xl 0px;
			}
		}

		strong {
			font-weight: 400;
		}
	
		small {
			font-size: 1rem;
		}
	}
}