@import './variables';

.categoryListItem {
	padding-bottom: $inset_l;
	width: 200px;
	height: auto;

	a {
		display: flex;
		flex-direction: column;
		border-radius: $inset_s;
		overflow: hidden;
		height: 100%;
		background-color: #fff;
		font-size: 0.8rem;

		.textLabel {
			padding: $inset_s 0px;
			flex-grow: 1;
			text-align: center;
			text-transform: uppercase;
			font-size: 0.8em;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&.highlight-high {
		width: 300px;

		a {
			.textLabel {
				font-size: 1em;
			}
		}
	}

	&.highlight-low {
		width: 150px;

		a {
			.textLabel {
				font-size: 0.6em;
			}
		}
	}
}