@import './variables';

.formFieldRadio {

	label {

		display: flex;
		align-items: center;

		&.disabled {
			opacity: 0.2;
		}
	}

	input {
		/* Add if not using autoprefixer */
		-webkit-appearance: none;
		appearance: none;
		/* For iOS < 15 to remove gradient background */
		background-color: #fff;
		/* Not removed via appearance */
		margin: 0;
		
		&::before {
			content: "";
			display: block;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 1em;

			box-sizing: border-box;
			font-size: inherit;
			width: 1.5em;
			height: 1.5em;
			margin-right: 0.3em;
			border: 1px solid #000;
			border-radius: 50%;
			transition: border-width 120ms ease-in-out;
		}

		&:checked {
			&::before {
				border-width: 0.5em;
			}
		}
	}
}